@charset "utf-8";

.restorando-background {
	margin: 0;
	padding:0;
	/*background: #524949;*/
	font-family: Arial, Helvetica, sans-serif;
	color: #f3f3f3;
	text-align: center;
}

a.tab_reservas {
	position: fixed;
	left: -10px;
	top: 40%;
	display: block;
	width: 80px;
	height: 160px;
	text-indent: -10000px;
	background: url(reservas_tab.png) no-repeat;
	overflow: hidden;
	z-index: 100!important;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
a.tab_reservas:hover {
	left: 0px;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#contenedor {
	width:auto;
	height:auto;
	/*padding-top:15px;*/
	/*margin:10px;*/
	background: transparent;
	font-size: 0.8em;
	text-align: center!important;
}
#contenedor h1 {
	font-size: 1.8em;
	font-weight: lighter!important;
	margin-top: 0px!important;
	margin-bottom: 20px!important;
	color: #AC7638!important;
}
.reservar {
	font: lighter 17px Arial, Helvetica, sans-serif;
	text-shadow: #000000 0.05em 0.05em 0.05em;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0px;
	cursor: pointer;
	color:#524949;
	background: #C8DCE8;
	padding: 20px 20px;
	border: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	text-align:center;
	margin: 15px 0 0 0px;
	display: block;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.reservar span{
	font: normal 12px/18px Arial, Helvetica, sans-serif;
	color: #524949!important;
}
.reservar:hover{ 
	background: #A5CEE8; 
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
	-ms-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}
.reservar:visited{ 
	color: #524949;
}
#contenedor iframe {
	margin-left:0px!important;
	margin-top: 0!important;
	max-width: 100% !important;
	width: 100% !important;
}
#volver {
	position:absolute;
	top:8px;
	left:8px;
	background-color: #C8DCE8;
	width:30px;
	text-align:center;
	height:30px;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
#volver a, #volver a img {
	border:none;
	outline:none;
}
#volver:hover {
	background-color:#A5CEE8;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;

}
#cerrar {
	position:absolute;
	top:8px;
	right:8px;
	background-color: #C8DCE8;
	width:30px;
	text-align:center;
	height:30px;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#cerrar a, #cerrar a img {
	border:none;
	outline:none;
}
#cerrar:hover {
	background-color:#A5CEE8;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 700px) {
  a.tab_reservas{
    background:url(reservas_tab.png) no-repeat;background-size:70%;height:107px;width:80px;
  }
}